body{
    display: flex;
    flex-direction: column;
}
 
section{
    width: 700px;
}
header{
    text-align: center;
}

#featured-items{
    border-bottom: 1px solid black;
    padding: 0px 0px 15px;
    box-sizing: border-box;
}

#cart{
    padding: 15px 0px 0px;
}

.items{
    width: fit-content;
}

.item{
    display: inline-block;
}

.box{
    background-color: grey;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

.item-image{
    background-color: grey;
    width: 100px;
    height: 100px;
    text-align: center;
}

.cart-item-price{
    width: 70px;
}
#featured-items .quantity{
    width: 180px;

}
#cart .quantity{
    width: 180px;
}

#checkout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}